requests
pandas
numpy
matplotlib
gunicorn
pyarrow
seaborn
streamlit==1.34.0
streamlit-aggrid
uvicorn
streamlit-authenticator
unidecode
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-storage
pandas-gbq
google-cloud-aiplatform
shapely<2.0.0
watchdog
google-cloud
openpyxl
urllib3
PyPDF2
gcsfs
reportlab
pydantic==2.2.0
pydantic-settings==2.0.3
pre-commit==3.0.2
poetry
pre-commit==3.0.2
flake8
black